button.cl-modalCloseButton {
  border: none;
  background: none;
  outline: none;
  border-color: transparent;
  border-width: 0px;
}
button.cl-modalCloseButton:hover {
  cursor: pointer;
  border-color: transparent;
  border-radius: 0px;
  border-width: 0px;
}
button.cl-modalCloseButton:has(:focus, :active) {
  outline: none;
  background: none;
  border: none;
  border-color: transparent;
  border-radius: 0px;
  border-width: 0px;
}